Node_Flow
[{"id":"1478f318.546b9d","type":"debug","z":"9ac051e8.bf699","name":"Output before Writing to DB","active":true,"console":"false","complete":"payload","x":778.1943969726562,"y":242.88885498046875,"wires":[]},{"id":"57887d05.0df354","type":"mqtt in","z":"9ac051e8.bf699","name":"Domotic Out","topic":"domoticz/out","qos":"2","broker":"59332db7.253554","x":192,"y":302,"wires":[["4a9a05e2.e6c3ac"]]},{"id":"4a9a05e2.e6c3ac","type":"json","z":"9ac051e8.bf699","name":"","pretty":false,"x":352,"y":303,"wires":[["2604acb3.1c79c4"]]},{"id":"1b2894c9.bd0b7b","type":"influxdb out","z":"9ac051e8.bf699","influxdb":"4f38ff4e.c92ea","name":"domoticz","measurement":"domoticz","precision":"","retentionPolicy":"","x":724,"y":303,"wires":[]},{"id":"2604acb3.1c79c4","type":"function","z":"9ac051e8.bf699","name":"ToInfluxDB","func":"var influx_obj = new Object();\n\ninflux_obj.idx=msg.payload.idx.toString();\ninflux_obj.id=msg.payload.id;\ninflux_obj.name=msg.payload.name;\ninflux_obj.dtype=msg.payload.dtype;\ninflux_obj.Battery=msg.payload.Battery;\ninflux_obj.RSSI=msg.payload.RSSI;\ninflux_obj.nvalue=msg.payload.nvalue;\ninflux_obj.stype=msg.payload.stype;\ninflux_obj.unit=msg.payload.unit;\n\n//get only existing value X and convert it to Float\nfor (ii=0; ii<10; ii++){\n    var vidx = (ii+1).toString();\n    var vname = \"svalue\" + vidx;\n    if (typeof msg.payload[vname] != 'undefined') {\n        var vdata=msg.payload[vname];\n        if (!isNaN(vdata)) {\n            influx_obj[vname]=parseFloat(vdata);\n        }\n    }\n}\n\nmsg.payload=influx_obj;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":304,"wires":[["1b2894c9.bd0b7b","1478f318.546b9d"]]},{"id":"59332db7.253554","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4f38ff4e.c92ea","type":"influxdb","z":"","hostname":"10.0.1.56","port":"8086","protocol":"http","database":"domoticz","name":"InfluxDB","usetls":false,"tls":""}]
